<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanay.thundercipher.leaveapplications">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".StudentApplicationStatusActivity" />
        <activity android:name=".PendingApplicationsDisplayActivity" />

        <activity
            android:name=".WardenListActivity"
            android:parentActivityName=".StudentUserActivity"/>

        <activity
            android:name=".StudentProfileEditActivity"
            android:parentActivityName=".StudentProfileActivity"/>

        <activity
            android:name=".StudentProfileActivity"
            android:parentActivityName=".StudentUserActivity"/>

        <activity android:name=".SecurityUserActivity" />
        <activity android:name=".WardenUserActivity" />
        <activity android:name=".StudentUserActivity" />

        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".LogInActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>